gebco.nc
bin/.idea
bin/__pycache__
.idea
workSpace
WW3-Grid-Generator/reference_data
ww3.2023_spec.nc
__pycache__
double_peaks_spectra
.venv

double_peaks_results.txt
WW3-Grid-Generator/cache
*.obsidian
*.bot
*.obst
*.mask
*.meta
*.params
jason3
*.nc
grid.nml
public/config.json
ndbc

