gebco.nc
bin/.idea
bin/__pycache__
.idea
workSpace
meshgen/reference_data
ww3.2023_spec.nc
__pycache__
double_peaks_spectra
.venv

double_peaks_results.txt
meshgen/cache
*.obsidian
*.bot
*.obst
*.mask
*.meta
*.params
jason3
*.nc

config.json
ndbc
.claude
.codegraph
.qoder
meshgen/unstructured_generator/unst_msh_gen/mesh_workspace/spac.msh
mesh_workspace
WW3-6.07.1
